.testMan{
  color: red;
  border: solid blue 1px;
}

.mapdiv, .map-container {
  height: 100%;
  width: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggleName{
  color: black;
}

.row{
  color: black;
  font-weight: bold;
  margin-top: 5px;
  
}

.rows{
  margin-top: 10px;
}
